.vscode/c_cpp_properties.json
.vscode/settings.json
loopback_dev
limine
*.o
*.d
angl-os.hdd
ovmf-x64/OVMF-X64.zip
ovmf-x64/OVMF-X64.zip:Zone.Identifier
ovmf-x64/OVMF.fd
ovmf-x64/readme.txt
angl-os.iso
kernel/angl-os.dump
.gitignore
kernel/angl-os.elf
