.vscode/c_cpp_properties.json
.vscode/settings.json
unnamed-os.iso
kernel/kernel.d
kernel/kernel.o
kernel/unnamed-os.elf
kernel/libc/test.d
kernel/libc/test.o
loopback_dev
unnamed-os.hdd
kernel/boot/kernel.d
kernel/libc/string.o
kernel/boot/kernel.o
kernel/libc/string.d
limine
kernel/boot/gdt.d
kernel/libc/string/strlen.d
kernel/libc/string/strlen.o
kernel/boot/gdt.o
